$primary-color: #2a3576;
$secondary-color: #e33229;
$primary-color-light: #38479d;

.bg-primary {
  background-color: $primary-color;
}
.bg-secondary {
  background-color: $secondary-color;
}
.bg-primary:hover {
  background-color: $primary-color-light;
}

.bg-primary-light {
  background-color: $primary-color-light;
}

.text-primary {
  color: $primary-color;
}

.text-primary-light {
  color: $primary-color-light;
}

.bg-white {
  background-color: white;
}
.text-white {
  color: white;
}

.text-secondary {
  color: $secondary-color;
}
