$primary-color: #2a3576;
$primary-color-light: #38479d;

.bg-primary {
  background-color: $primary-color;
}

.bg-primary-light {
  background-color: $primary-color-light;
}

.text-primary {
  color: $primary-color;
}

.text-primary-light {
  color: $primary-color-light;
}
