<div class="content">

  <div class="container-card-about p-text-center">
    <div class="p-p-4 card-about">
      <h1> ¿Quienes somos? </h1>

      <p>
        Repuestos Galarza Hnos. es una empresa familiar que nace a principios de los años '80 fundada por Juan Dionisio
        Galarza como taller mecánico de barrio dedicado al servicio y provision de repuestos multimarco. Diez años mas
        tarde se incorporan a la empresa los hijos del fundador, Javier y Juan José.
      </p>
      <p>
        A principios de la década, abre sus puertas la casa de repuestos orientada a la línea asíatica. Actualmente la
        empresa, motivada por el crecimiento, posee un amplio stock de repuestos y autopartes que junto con una
        experiencia de casi 40 años en el rubro automotriz intenta brindar un servicio de excelencia.
      </p>

    </div>
  </div>

</div>
