<div class="navbar p-d-flex p-flex-column p-flex-md-row p-py-3 p-px-4">

  <div rout class="p-text-center">
    <img src="assets/images/logo_home.png" [routerLink]="['/']" routerLinkActive="router-link-active"
      class="cursor-pointer logo-img" alt="">
  </div>

  <div class="display-mobile-sm p-text-center p-inline-block">
    <a pButton target="_blank" [href]="whatsapp" type="button" title="Comunicate por whatsapp"
      class="p-mr-1 p-button-rounded icon-navbar whatsapp">
      <img src="../assets/images/icons/whatsapp.png">
    </a>
    <a pButton [href]="teltelephone" type="button" title="Llámanos" class="p-mr-1 p-button-rounded icon-navbar phone">
      <img src="../assets/images/icons/phone.png">
    </a>
    <a pButton target="_blank" [href]="location" type="button" title="Acércate a nuestra sucursal"
      class="p-mr-1 p-button-rounded icon-navbar location">
      <img src="../assets/images/icons/location.png">
    </a>
  </div>


  <div class="menu-container">

    <div class="menu display-web">
      <p-tabMenu class="menu-web color-primary" [model]="items" [activeItem]="activeItem"></p-tabMenu>
    </div>

    <div class="display-mobile p-text-center p-mt-5">
      <button #btn type="button" pButton icon="pi pi-bars" class="btn-bars" (click)="menu.toggle($event)"></button>
      <p-slideMenu #menu [model]="items" [popup]="true" [viewportHeight]="items.length * 53"></p-slideMenu>
    </div>
  </div>

  <div class="display-web-lg p-text-center">
    <a pButton target="_blank" [href]="whatsapp" type="button" title="Comunicate por whatsapp"
      class="p-mr-1 p-button-rounded icon-navbar whatsapp">
      <img src="../assets/images/icons/whatsapp.png">
    </a>
    <a pButton [href]="teltelephone" type="button" title="Llámanos" class="p-mr-1 p-button-rounded icon-navbar phone">
      <img src="../assets/images/icons/phone.png">
    </a>
    <a pButton target="_blank" [href]="location" type="button" title="Acércate a nuestra sucursal"
      class="p-mr-1 p-button-rounded icon-navbar location">
      <img src="../assets/images/icons/location.png">
    </a>
  </div>

</div>
