@import "src/styles.scss";

.navbar {
  background-color: white;
  border-radius: 35px;
  border-radius: 35px;
  margin: 0 auto;
  max-width: 1460px;
}

.whatsapp {
  border-color: #26af3b !important;
  background-color: #26af3b !important;
}
.whatsapp:hover {
  border-color: #1e8c2e !important;
  background-color: #1e8c2e !important;
}

.location {
  border-color: $secondary-color;
  background-color: $secondary-color;
}
.location:hover {
  border-color: #aa2722;
  background-color: #aa2722;
}

.phone {
  border-color: $primary-color-light;
  background-color: $primary-color-light;
}
.phone:hover {
  border-color: #192568;
  background-color: #192568;
}
.icon-navbar {
  text-align: center;
  margin: 8px;
  padding: 5px 5px 5px 8px;

  img {
    text-align: center;
    width: 42px;
  }
}

.display-mobile {
  display: none;
  visibility: hidden;
}

.logo-img {
  max-width: 320px;
}

.btn-bars {
  background: $primary-color;
  color: #ffffff;
  border-color: $primary-color;
}

.btn-bars:enabled:hover {
  background: $primary-color;
  color: #ffffff;
  border-color: $primary-color;
}

.btn-bars:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #e4322d;
}

.menu-container {
  margin-left: auto !important;
  margin-right: auto !important;
}

.display-mobile-sm {
  visibility: hidden;
  display: none;
}
@media screen and (max-width: 1220px) {
  .display-mobile {
    visibility: visible;
    display: block;
  }
  .display-web {
    display: none;
    visibility: hidden;
  }
  .btn-bars {
    width: 30vw;
  }
  ::ng-deep .p-slidemenu {
    width: 30vw !important;
  }
}
@media screen and (max-width: 770px) {
  .navbar {
    max-width: fit-content;
  }
  .display-web-lg {
    display: none;
    visibility: hidden;
  }
  .display-mobile-sm {
    visibility: visible;
    display: inline-flex;
    margin: auto;
  }
  .logo-img {
    width: 100%;
  }
  .menu-container {
    width: 100%;
  }
  ::ng-deep .p-slidemenu {
    width: 80vw !important;
  }
  .btn-bars {
    width: 80vw;
  }
}

::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  border-color: $primary-color;
  color: $primary-color;
}
::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link :focus {
  border-color: $primary-color;
  color: $primary-color;
}

::ng-deep .p-slidemenu .p-menuitem-link .p-menuitem-text {
  margin: auto;
}
::ng-deep .p-slidemenu .p-slidemenu-rootlist {
  width: 100% !important;
}
