<div class="p-d-lg-flex p-d-sm-block">
  <img src="../assets/images/logo_home.png" width="250" alt="">
  <p-tabMenu class="p-mx-auto" [model]="items" [activeItem]="activeItem"></p-tabMenu>
  <div>
    <button pButton type="button" class="p-mr-1 p-button-rounded whatsapp">
      <img src="../assets/images/icons/whatsapp.png"></button>
    <button pButton type="button" icon="pi pi-check" class="p-mr-1 p-button-rounded cscss"></button>
    <button pButton type="button" icon="pi pi-check" class="p-mr-1 p-button-rounded cscss"></button>
  </div>
</div>

<router-outlet></router-outlet>
