<div class="p-mr-3 p-mb-3 p-shadow-4 container-product-card">
  <p-card [header]="product.title" [subheader]="product.product_code" class="product-card">

    <ng-template pTemplate="header">
      <div (click)="viewProduct(product)">
        <img alt="product.description" [src]="sourceProductImage(product)"
          onerror="this.onerror=null;this.src='https://repuestosgalarza.com.ar/api/v2/storage/uploads/products/no_image.png';"
          class="img-product">
      </div>
    </ng-template>

    <ng-template pTemplate="body">
      <p> {{ product.description }} </p>
    </ng-template>

    <ng-template pTemplate="footer">
      <button (click)="viewProduct(product)" class="btn bg-secondary text-white rounded-lg p-mr-2"> <i
          class="pi pi-eye p-mr-1"></i> Ver</button>
      <button (click)="queryProduct(product)" class="btn bg-primary text-white rounded-lg"> <i
          class="pi pi-shopping-cart p-mr-1"></i> Consultar</button>
    </ng-template>

  </p-card>
</div>
