<div class="p-d-inline-flex">

  <p-card [header]="product.title" [subheader]="product.product_code" class="product-card p-mr-3 p-mb-3 p-shadow-4">

    <ng-template pTemplate="header">
      <img alt="product.description" [src]="searchImage(product.file_name)" class="img-product">
    </ng-template>

    <ng-template pTemplate="body">
      <p> {{ product.description }} </p>
    </ng-template>

    <ng-template pTemplate="footer">
      <button (click)="queryProduct(product)" class="btn bg-primary text-white rounded-lg"> <i
          class="pi pi-shopping-cart p-mr-1"></i> Comprar</button>
    </ng-template>

  </p-card>

</div>
