<div class="content">
  <div class="container-card-about p-text-center">
    <div class="p-p-4 card-about">
      <p-gmap #gmap [style]="{'width':'100%','height':'320px', 'margin-bottom': '1em'}" [options]="options"
        [overlays]="overlays"></p-gmap>
      <button type="button" pButton label="Clear" icon="pi pi-times" (click)="clear()"
        style="margin-right:.25em"></button>
      <button type="button" pButton label="Zoom In" icon="pi pi-plus" (click)="zoomIn(gmap.getMap())"
        style="margin-right:.25em"></button>
      <button type="button" pButton label="Zoom Out" icon="pi pi-minus" (click)="zoomOut(gmap.getMap())"></button>
    </div>
  </div>
</div>
