<p-toast position="top-end"></p-toast>
<div class="content">

  <div class="send-message">
    <div class="p-text-center text-white">
      <h1>DÉJANOS UN MENSAJE</h1>
    </div>

    <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">

      <div class="form-contact">

        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
              <input id="name" formControlName="inputName" type="text" pInputText>
              <label for="name">Nombre</label>
            </span>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
              <input id="email" formControlName="inputEmail" type="email" pInputText>
              <label for="email">Correo electrónico</label>
            </span>
          </div>
          <div class="p-field p-col-12 p-md-4">
            <span class="p-float-label">
              <input id="phone" formControlName="inputPhone" type="text" pInputText>
              <label for="phone">Teléfono</label>
            </span>
          </div>
          <div class="p-field p-col-12 p-md-12 p-mt-4">
            <span class="p-float-label">
              <input id="subject" formControlName="inputSubject" type="text" pInputText>
              <label for="subject">Asunto</label>
            </span>
          </div>
          <div class="p-field p-col-12 p-mt-4">
            <span class="p-float-label">
              <textarea id="message" formControlName="inputMessage" type="text" rows="4" required
                pInputTextarea></textarea>
              <label for="message">Mensaje</label>
            </span>
          </div>
        </div>
        <div class="p-field p-col-12 p-text-center p-mt-2">
          <p-button label="Enviar mensaje" type="submit" icon="pi pi-send" iconPos="right" [loading]="loading">
          </p-button>
        </div>
      </div>

    </form>
  </div>


  <div class="container-card-about p-text-center">
    <div class="p-text-center text-white">
      <h1>ACERCATE A</h1>
    </div>
    <div class="p-p-4 card-about">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6812.219676702602!2d-58.03325047429895!3d-31.383534775660177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95ade841a10f8cbb%3A0x4a4abd6d6ca14c34!2sSan%20Lorenzo%20Oeste%20939%2C%20E3202%20Concordia%2C%20Entre%20R%C3%ADos!5e0!3m2!1ses-419!2sar!4v1577579169761!5m2!1ses-419!2sar"
        width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
  </div>
</div>
