.cont-banner-image {
  text-align: center !important;
}
.banner-image {
  margin: auto;
  width: 100%;
  max-width: 1000px;
  max-height: 600px;
}

.card{
  width: 20%;
  margin: 0 25px;
  min-width: 320px;
  max-width: 360;
}
