.cont-banner-image {
  text-align: center !important;
}
.banner-image {
  margin: auto;
  border-radius: 5px;
  max-width: 1920px;
  width: 99.5%;
  height: 50vh;
}

.card-attention {
  margin: 0 25px;
}

.card-attention-content{
  height: 80px;
}


@media screen and (max-width: 600px) {
  .banner-image {
    height: 30vh;
  }
}
