<div class="content">
  <div class="product-viewer" *ngIf="product">

    <div class="p-grid">

      <div class="p-sm-12 p-md-6 p-lg-6 p-pr-3">
        <div class="p-shadow-16 bg-gallery  rounded-lg" style="min-height: 70vh;">

          <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [numVisible]="5" [circular]="true"
            [showItemNavigators]="false">
            <ng-template pTemplate="item" let-item>
              <div class="img-viewer">
                <img [src]="item.src" class="img" />
              </div>
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
              <div class="p-grid p-nogutter p-justify-center">
                <div class="p-ml-3">
                  <img [src]="item.src" width="75" height="75" style="display: block;" />
                </div>
              </div>
            </ng-template>
          </p-galleria>
        </div>
      </div>

      <div class="bg-white rounded-lg p-shadow-6 p-sm-12 p-md-6 p-lg-6">
        <div class="p-px-5 p-py-3">
          <div class="p-py-4 p-block">
            <div class="title-product">{{ product.title }} </div>
            <small>{{ product.category_name }}</small>
          </div>
          <div class="description-product">
            <p>Código: {{ product.product_code }}</p>
            {{ product.description }}
          </div>
        </div>

        <div class="p-my-3 p-px-5">
          <button (click)="query_product = true" class="btn bg-primary text-white rounded-lg"> <i
              class="pi pi-shopping-cart p-mr-1"></i> Consultar</button>
        </div>
      </div>


    </div>
  </div>

  <div style="height: 80%; text-align:center; padding:10%" class='event' *ngIf="!product">
    <img src="/assets/images/icons/logo.png" class="loader" width="150" alt="" srcset="">
  </div>
</div>

<app-query-product *ngIf="query_product" [product]="product"></app-query-product>
