@import "assets/scss/text.scss";
@import "assets/scss/border.scss";
@import "assets/scss/colors.scss";
@import "assets/scss/fonts.scss";
@import "assets/scss/sizins.scss";

body {
  padding: 0;
  margin: 0;
  background-color: $primary-color;
  font-family: RobotoSlab-Regular, serif;
}

::ng-deep .p-button {
  background-color: $primary-color;
  border-color: $primary-color;
}
::ng-deep .p-button:hover {
  background-color: $primary-color;
  border-color: $primary-color;
}
::ng-deep .p-button:enabled:active {
  background-color: $primary-color;
  border-color: $primary-color;
}

.btn {
  padding: 10px 16px;
  cursor: pointer;
  border: none;
  font-weight: 400;
  box-shadow: 2px 2.2px 2.2px 1px rgba(0, 0, 0, 0.5);
}
.bg-whatsapp {
  background-color: #02a202;
}

.no-decoration {
  text-decoration: none;
}
.text-gray {
  color: gray;
}
.cursor-pointer {
  cursor: pointer;
}
.content {
  padding: 3% 0 15% 0;
}
@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: $primary-color;
  }
  40% {
    stroke: $primary-color-light;
  }
  66% {
    stroke: #0845a7;
  }
  80%,
  90% {
    stroke: #2361c5;
  }
}
