@import "assets/scss/text.scss";
@import "assets/scss/border.scss";
@import "assets/scss/colors.scss";
@import "assets/scss/fonts.scss";
@import "assets/scss/sizins.scss";

body {
  padding: 0;
  margin: 0;
  background-color: $primary-color;
  font-family: RobotoSlab-Regular, serif;
}

::ng-deep .p-button {
  background-color: $primary-color;
  border-color: $primary-color;
}
