<div class="panel-filter">

  <div class="p-fluid">
    <div class="p-field">
      <input id="searchProduct" type="text" placeholder="Buscar..." pInputText
        (input)="onSearchChange($event.target)">
    </div>
  </div>

  <div *ngIf="categories && categories.length > 0" class="p-fluid p-my-2">
    <div class="p-d-flex">
      <div>
        <h3 class="title-filter">Categorías</h3>
      </div>
      <div class="p-ml-auto p-my-1">
        <button *ngIf="categorySelected" pButton type="button" icon="pi pi-trash"
          class="p-button-raised p-button-rounded" (click)="deleteFilterCategory()"> </button>
      </div>
    </div>

    <p-listbox [(ngModel)]="categorySelected" [options]="categories" optionLabel="name"
      [listStyle]="{'max-height':'250px'}" (onClick)="filter()"></p-listbox>

  </div>



  <div *ngIf="vehicle_brands && vehicle_brands.length > 0" class="p-fluid p-my-2">
    <div class="p-d-flex">
      <div>
        <h3 class="title-filter">Vehiculo</h3>
      </div>
      <div class="p-ml-auto p-mt-1">
        <button *ngIf="vehicleBrandSelected" pButton type="button" icon="pi pi-trash"
          class="p-button-raised p-button-rounded" (click)="deleteFilterVehicle()"> </button>
      </div>
    </div>

    <p-listbox [(ngModel)]="vehicleBrandSelected" [options]="vehicle_brands" optionLabel="name"
      [listStyle]="{'max-height':'250px'}" (onClick)="onBrandSelected()"></p-listbox>


    <div *ngIf="vehicleBrandSelected">
      <hr />
      <p-listbox [(ngModel)]="vehicleModelSelected" [options]="filterable_vehicle_models" optionLabel="name"
        [listStyle]="{'max-height':'250px'}" (onClick)="filter()"></p-listbox>
    </div>

  </div>
</div>
