.panel-filter {
  border-radius: 6px;
  border: solid 1px rgb(46, 46, 111);
  padding: 5%;
  min-width: 300px;
}

@media screen and (max-width: 768px) {
  .logo-img {
    width: 100%;
  }
}
.title-filter {
  margin: 3px 0;
  color: white;
  letter-spacing: 1px;
}
